.custom-dropdown {
    background: white;
    top: 110%;
}
.custom-dropdown li a {
    padding: 15px 30px;
}
.custom-dropdown li a:hover {
    background: none;
}
.navbarItems > li > a {
    padding: 10px;
}
.navbarItems > li > div {
    padding: 10px;
}
.navbarItems > li > a:hover {
    background: none;
}
.navbarItems > li > div:hover {
    background: none;
}
.navbarMobileDrawer > li > a {
    border-radius: 0 !important;
    padding: 0;
    height: 42px;
    padding-left: 20px;
    font-size: 17px;
}
.navbarMobileDrawer > li:first-child {
    color: white;
}
.search {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input {
    width: 70%;
    padding: 9px 0 9px 14px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #FF6A00;
    outline: none;
    line-height: 100%;
    font-size: 14px;
}
.search input:focus {
    outline: none;
}
.search input, .search button {
    height: 40px;
}
.search button {
    border-radius: 0 20px 20px 0;
    background: #FF6A00;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.more, .fullName {
    display: flex;
    align-items: center;
}