.customCard {
    width: 100%;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px !important;
    border-radius: 20px;
}
.customCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cecece;
}
