.caContainer {
  width: 250px;
  padding-left: 3px;
  padding-top: 3px;
  transition: all 0.3s ease-in-out;
}
.caContainer:hover {
  box-shadow: 2px 0 15px 5px #dfdfdf;
}
.caImgContainer {
  width: 240px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.caImgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.caProductName {
  width: 90%;
  padding: 10px 0;
  padding-bottom: 0;
}
.caProductPrice {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.caProductPrice p:first-child {
  padding-right: 5px;
}
