.loginForm {
  width: 100%;
}
.loginForm input {
  display: block;
  width: 100%;
  margin-top: 30px;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid #ff6a00;
  text-transform: none;
}
.loginForm.register-form input {
  margin-top: 15px;
}
.loginForm input:not([type="submit"]) {
  background: white;
}
.loginForm input[type="number"]::-webkit-outer-spin-button,
.loginForm input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loginForm input:focus {
  border: 1px solid #ff6a00;
  outline: none;
}

.loginSubmitBtn {
  margin-top: 5px !important;
}
