.footerSocialLinks {
  display: flex;
  align-items: start;
  justify-content: start;
  padding-top: 6px;
  column-gap: 10px;
  flex-direction: row;
}

.footerSocialLinks a {
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6a00;
  border-radius: 50%;
  color: white;
}

.footerSocialLinks :hover {
  animation-name: link;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes link {
  0% {
    padding-top: 0px;
  }

  50% {
    padding-top: 20px;
  }

  100% {
    padding-top: 0px;
  }
}

.footerLinks a {
  transition: all .3s ease-in-out;
}

.footerLinks a:hover {
  color: #ff6a00;
  padding-left: 20px;
  text-decoration: none;
}