.search {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  width: 70%;
  padding: 9px 0 9px 14px;
  border-radius: 20px 0 0 20px;
  border: 2px solid #ff6a00;
  outline: none;
  line-height: 100%;
  font-size: 14px;
}
.search input:focus {
  outline: none;
}
.search input,
.search button {
  height: 40px;
}
.search button {
  border-radius: 0 20px 20px 0;
  background: #ff6a00;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
