.searchPage {
  background: white;
  padding-bottom: 30px;
}
.searchPage .sortTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  margin-top: 10px;
  font-size: 15px;
  padding-bottom: 20px;
}
.searchPage .sortTabs span {
  cursor: pointer;
  background: rgb(241, 241, 241);
  padding: 3px;
}
.searchPage .sortTabs span.active {
  border-bottom: 2px solid #ff6a00;
  color: #ff6a00;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  background: white;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}
.pagination .pages {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
  padding: 10px 20px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.pagination .pages .page {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.pagination .pages .page.active {
  background: #0077ef;
  color: white;
}
.pagination .pages .page:hover {
  background: #f2f2f2;
}
.pagination .pages .page.active:hover {
  background: #0077ef;
}
@media only screen and (max-width: 767px) {
    .pagination {
        flex-direction: column;
        margin-bottom: 40px;
        padding: 15px 5px;
    }
    .pagination .pages .page {
        height: 20px;
        width: 20px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 767px) {
  .searchPage .sortTabs {
    display: none;
  }
}