.productDescImgContainer {
    width: 485px;
    height: 440px;
    /* overflow: hidden; */
    text-align: center;
    border: 1px solid #f0f0f0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .productDescriptionContainer {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
  }
  .verticalImageStack {
    width: 67px;
    display: flex;
    flex-direction: column;
  }

  .mobileProductDetailsSlider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    border-radius: 9px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 2px;
    font-size: 12px;
    width: fit-content;
}
.thumbnail {
  width: 63px;
  height: 63px;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  text-align: center;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.active {
  border: 2px solid #2874f0;
}