.homeSlider img {
    height: 280px;
    object-fit: cover;
    width: 100%;
  }
  .homeSlider .slick-track > div > div {
    height: 280px;
  }
  .homeSlider a {
    height: 100%;
  }
  @media only screen and (max-width: 640px) {
    .homeSlider img {
      height: 140px;
    }
    .homeSlider .slick-track > div > div {
      height: 140px;
    }
  }
  